# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MuJoCo
*.mjb
rc_moveit/rc_arm_description/urdf/rc_arm_2/rc_arm_2.pinocchio.urdf

log/
install/
lib/
tests/
rc_moveit/rc_arm_moveit_config/test/
.marscode/
tmp/
