<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rc_arm_2_ros2_control" params="use_mock_hardware hardware_config_file">
    <xacro:property name="hardware_config_path" value="${hardware_config_file}"/>
    <xacro:property name="hardware_config" value="${xacro.load_yaml(hardware_config_path)}"/>
    <xacro:property name="description_package_share" value="${hardware_config_path.rsplit('/config/', 1)[0]}"/>


    <ros2_control name="RcArm2System" type="system">
      <hardware>
        <xacro:if value="${use_mock_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">false</param>
        </xacro:if>

        <xacro:unless value="${use_mock_hardware}">
          <plugin>rc_arm_hardware/RsA3HardwareInterface</plugin>
          <param name="backend">${hardware_config.backend}</param>
          <param name="can_interface">${hardware_config.can_interface}</param>
          <param name="host_can_id">${hardware_config.host_can_id}</param>
          <param name="external_feedback_topic">${hardware_config.external_feedback_topic}</param>
          <param name="external_feedback_timeout">${hardware_config.external_feedback_timeout}</param>
          <param name="mujoco_command_topic">${hardware_config.mujoco_command_topic}</param>
          <param name="dm_sn">${hardware_config.dm_sn}</param>
          <param name="dm_nom_baud">${hardware_config.dm_nom_baud}</param>
          <param name="dm_dat_baud">${hardware_config.dm_dat_baud}</param>
          <param name="dm_control_mode">${hardware_config.dm_control_mode}</param>
          <param name="position_kp">${hardware_config.position_kp}</param>
          <param name="position_kd">${hardware_config.position_kd}</param>
          <param name="velocity_limit">${hardware_config.velocity_limit}</param>
          <param name="max_velocity">${hardware_config.max_velocity}</param>
          <param name="max_acceleration">${hardware_config.max_acceleration}</param>
          <param name="low_stiffness_mode">${hardware_config.low_stiffness_mode}</param>
          <param name="low_stiffness_kp">${hardware_config.low_stiffness_kp}</param>
          <param name="low_stiffness_kd">${hardware_config.low_stiffness_kd}</param>
          <param name="low_stiffness_torque_bias">${hardware_config.low_stiffness_torque_bias}</param>
          <param name="use_pinocchio_gravity">${hardware_config.use_pinocchio_gravity}</param>
          <param name="gravity_feedforward_ratio">${hardware_config.gravity_feedforward_ratio}</param>
          <param name="use_pinocchio_inverse_dynamics">${hardware_config.use_pinocchio_inverse_dynamics}</param>
          <param name="urdf_path">${description_package_share}/${hardware_config.urdf_path}</param>
          <param name="limit_margin">${hardware_config.limit_margin}</param>
          <param name="limit_stop_margin">${hardware_config.limit_stop_margin}</param>
          <param name="limit_decel_factor">${hardware_config.limit_decel_factor}</param>
          <param name="fallback_control_period">${hardware_config.fallback_control_period}</param>
        </xacro:unless>
      </hardware>

      <joint name="j1_joint">
        <param name="motor_id">${hardware_config.motor_id_j1}</param>
        <param name="motor_type">RS00</param>
        <param name="position_offset">0.0</param>
        <param name="direction">1.0</param>
        <param name="low_stiffness_kp">${hardware_config.low_stiffness_kp_j1}</param>
        <param name="low_stiffness_kd">${hardware_config.low_stiffness_kd_j1}</param>
        <command_interface name="position">
          <!--
          <param name="min">-1.865</param>
          <param name="max">2.365</param>
          -->
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-12.0</param>
          <param name="max">12.0</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <command_interface name="effort">
          <param name="min">-14.0</param>
          <param name="max">14.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="j2_joint">
        <param name="motor_id">${hardware_config.motor_id_j2}</param>
        <param name="motor_type">RS00</param>
        <param name="position_offset">0.0</param>
        <param name="direction">1.0</param>
        <param name="low_stiffness_kp">${hardware_config.low_stiffness_kp_j2}</param>
        <param name="low_stiffness_kd">${hardware_config.low_stiffness_kd_j2}</param>
        <command_interface name="position">
          <!--
          <param name="min">0.0</param>
          <param name="max">1.85</param>
          -->
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-12.0</param>
          <param name="max">12.0</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <command_interface name="effort">
          <param name="min">-14.0</param>
          <param name="max">14.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="j3_joint">
        <param name="motor_id">${hardware_config.motor_id_j3}</param>
        <param name="motor_type">RS00</param>
        <param name="position_offset">0.0</param>
        <param name="direction">1.0</param>
        <param name="low_stiffness_kp">${hardware_config.low_stiffness_kp_j3}</param>
        <param name="low_stiffness_kd">${hardware_config.low_stiffness_kd_j3}</param>
        <command_interface name="position">
          <!--
          <param name="min">0.0</param>
          <param name="max">2.13861</param>
          -->
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-12.0</param>
          <param name="max">12.0</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <command_interface name="effort">
          <param name="min">-14.0</param>
          <param name="max">14.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="j4_joint">
        <param name="motor_id">${hardware_config.motor_id_j4}</param>
        <param name="motor_type">EL05</param>
        <param name="position_offset">0.0</param>
        <param name="direction">-1.0</param>
        <param name="low_stiffness_kp">${hardware_config.low_stiffness_kp_j4}</param>
        <param name="low_stiffness_kd">${hardware_config.low_stiffness_kd_j4}</param>
        <command_interface name="position">
          <!--
          <param name="min">-0.5313</param>
          <param name="max">1.2963</param>
          -->
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-20.0</param>
          <param name="max">20.0</param>
        </command_interface>
        <command_interface name="acceleration"/>
        <command_interface name="effort">
          <param name="min">-6.0</param>
          <param name="max">6.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
